body {
  overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
  .desktop-display-only {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-display-only {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .not-small-mobile-display-only {
    display: none !important;
  }
}
